$nav-font-size: 16px;



html, body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #EEEEEE;
}


/***************
 *   GENERAL   *
 **************/

a {
	text-decoration: none;
}


/**************
*   GLOBALS   *
**************/

.wrapper {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}


/**************
 *   HEADER   *
 *************/

#top {
	background-image: url(../img/header01.jpg);
    background-attachment: fixed;
    width: 100%;
    margin: 0;

    .info {
		color: #EEEEEE;
	    font-size: 20px;
	    font-weight: normal;
	    margin: 10px 0;
	    padding: 0 0 0 26px;
	    background-image: url(../img/phone.png);
	    background-size: 22px 22px;
	    background-repeat: no-repeat;
	    background-position: 0 center;
	}
}


/***************
 *   TOP-NAV   *
 **************/

.navbar {
	background: #000000;
	font-size: $nav-font-size;
	padding: 8px;

	box-shadow: 0 -2px 8px rgba(0,0,0,0.5);

	.navbar-brand {

		img {
			vertical-align: middle;
			display: inline-block;
			box-sizing: border-box;
			border: 0;

			height: 3em;
		}
	}
}

.navbar ul.top-nav {
	list-style-type: none;
	margin: 0;
	display: inline-block;

	li {
		display: inline;

		a {
			color: #FFF;
			padding: 16px;
			display: inline-block;

			&:hover {
				color: #BB3333;
				text-decoration: none;
			}
		}
	}
}


/************
 *   HOME   *
 ***********/

.services {
	text-align: center;

	.col {
		width: 33%;
    	padding: 20px;
    	float: left;
    	box-sizing: border-box;
	}

	img.head {
	    height: 100px;
	    margin: 10px;
	    border-radius: 50%;
	    box-shadow: 2px 2px 1px rgba(0,0,0,0.7);
	}

	h3,h4 {
		text-shadow: none;
		color: #BB3333;
		margin: 6px 0 0 0;
	}

	p {
		margin-top: 4px;
	}
}


/****************
 *   PRODUCTS   *
 ***************/
#products-list {
	a {
		color: #EEEEEE;
	}

	.preview {
		margin: 8px;
		padding: 4px;
		border: 1px solid #000;
		color: #000000;
		background: #CCCCCC;
		display: inline-block;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
		transition: box-shadow 0.20s ease-in-out;

		.preview-img {
			height: 200px;
			width: 200px;

			img {
				max-width: 100%;
    			max-height: 100%;
			}
		}
	}
}