@charset 'UTF-8';

$primary-color: #F9CC43;
$secondary-color: #D7AA21;

$header-link-clr: #FFF;


html, body {
	margin: 0;
	padding: 0;
	background-image: url('../img/dots.png'), linear-gradient(#777,#444);
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	
	color: #CCC;
}



/***************
 *   GENERAL   *
 **************/

// Email spam protection

[href^='mailto'] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

a {
	text-decoration: none;
	color: #EEE;
}
a:hover {
	color: #F7DF99;
}

h1,h2 {
	color: #FFF;
}

li {
	list-style-type: none;
}
li:before {
	margin-right: 0.3em;
	content: '✓ ';
	font-weight: bold;
	color: $primary-color;
}



/**************
*   GLOBALS   *
**************/

.wrapper {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}

.no-content {
	font-size: 20px;
	padding: 3em;
	color: #FFF;
}

.breadcrumb {
	margin: 8px 0;
	padding: 1px 20px;
	border-bottom: 1px solid #555;

	h1 {
		margin: 10px;

		a {
			color: #AAA;
		}

		.break {
			color: #888;
			margin: 0px 6px 0px -3px;
		}
	}
}


/* Navigation */

#header {
	background-image: linear-gradient($primary-color, $secondary-color);
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	// padding: 10px;
	text-align: center;
}
#header #logo {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

ul#nav {
	list-style: none;
	text-align: center;
	margin-left: 30px;
	padding: 0;
	display: inline-block;
    line-height: 0px;
}
ul#nav li:before {
	content: '';
}
ul#nav li {
	display: inline-block;
	width: 100%;
}
ul#nav a {
	color: $header-link-clr;
	font-size: 16px;
	
	width: 100%;
	padding: 20px;
	display: inline-block;
	border-radius: 0.4em;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	transition: 0.3s ease-in color;
}
ul#nav li a:hover {
	color: #000;
}
ul#nav li a.active {
	background: linear-gradient(#EDC140, #CCA120);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
}
ul#nav li a.disabled {
	color: #888;
}
ul#nav li a.disabled:hover {
	color: #888;
}

/* Contents */

.fp-img {
	background: #333;
	color: #FFF;

	img {
		width: 100%;
	}
}

.img-bordered {
	border: 1px solid #000;
	margin: 10px 0;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

#left-col {
	float: left;
	width: 100%;
	box-sizing: border-box;
}
#right-col {
	float: right;
	width: 100%;
	box-sizing: border-box;
	margin-left: 10px;
	box-sizing: border-box;
}
.side-block {
	background: rgba(0,0,0,0.2);
	border: 1px solid #000;
	border-top: 0;
	margin-top: 2em;
	
	h3 {
		margin: -10px -6px 10px -6px;
		padding: 16px;
		background: #000;
		box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	}
}

#side-nav li {
	margin-bottom: 0.5em;
}
#side-nav li:before {
	color: #BBB;
	margin-right: 0.3em;
	content: ' ';
}

.block {
	margin: 10px 0;
	padding: 10px;
	
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.info {
	color: $primary-color;
    font-size: 20px;
    margin: 10px 0;
    padding: 0 0 0 26px;
	
    background-image: url('../img/icons/phone.png');
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 0 center;
}

#services {
	border-top: 1px solid #000;
	background: rgba(40,40,40,0.4);
	color: #AAA;
}
#services h2 {
	color: $primary-color;
}
.col {
	width: 100%;
	padding: 8px;
	margin: 0;
	box-sizing: border-box;
}

.col img {
	width: 100%;
}

#top {
	background-image: url('../img/header01.jpg');
	background-attachment: fixed;
	width: 100%;
	margin: 0;
}

#our-products {
	background: $secondary-color;
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #DDF;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.6);
}
a#goto-catalog {
	color: #FFF;
	background: #444;
	padding: 12px 8px;
	margin: 10px;
	display: inline-block;
	width: 200px;
	
	transition: box-shadow .30s ease-in-out, color .25s ease-in-out;
}
a#goto-catalog:hover {
	box-shadow: inset 0 0 18px rgba(0,0,0,0.6);
}

#footer {
	background: #444;
	text-align: center;
	padding: 20px;
	color: #DDD;
	margin-top: 2em;
	box-shadow: 0 -1px 6px rgba(0,0,0,0.2);
}

/* Services */

.sidebar-showcase {
	margin: 10px 0;
	padding: 10px;
	text-align: center;

	img {
		width: 75%;
		margin: 10px 0;
	}
}

/* Catalogue */

h1 span.sub-h {
	color: $primary-color;
}

#products {
	text-align: center;
	margin-bottom: 1.5em
}
#products a {
	color: #EEE;
}
.preview {
	margin: 8px;
	padding: 4px;
	border: 1px solid #000;
	background: #222;
	display: inline-block;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
	
	transition: box-shadow 0.20s ease-in-out;
}
.preview:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}
.preview .img {
	height: 200px;
	width: 200px;
}
.preview img {
	max-width: 100%;
	max-height: 100%;
}

.product-imgs {
	text-align: center;
	overflow: auto;
	overflow-y: hidden;
	width: 100%;
	height: 210px;
	white-space: nowrap;
	padding: 1em;
	box-sizing: border-box;

	img {
		vertical-align: middle;
		margin: 0 2px;
		height: 170px;
	}
}

.contact-banner {
	//border-top: 1px solid #EEE;
	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: #FFF;

	img {
		height: 75px;

		border-radius: 10em;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	}
}

/* Media */

@media only screen and (min-width:730px) {

	ul#nav li {
		width: auto;
	}
	ul#nav li a {
		width: auto;
	}
	.col {
		width: 33%;
		padding: 20px;
		float: left;
	}
	ul#nav li a.active {

	}
	#left-col {
		width: 60%;
	}
	#right-col {
		width: 38%;
		float: right;
		padding: 10px 0;
	}
	#content #left {
		width: 68%;
	}
	#content #right {
		width: 30%;
	}
	.side-block {
		margin-top: 0;
	}
}

@media only screen and (min-width:850px) {
	#header #logo {
		height: 60px;
		width: auto;
		max-width: 100%;
	}
}

@media only screen and (min-width:960px) {
	#header {
		text-align: left;
	}
}